DB_URL=jdbc:mysql://localhost:3306/ump_student_grab_db
DB_USERNAME=authorizeduser
DB_PASSWORD=your_password

MAIL_HOST=sandbox.smtp.mailtrap.io
MAIL_PORT=587
MAIL_USERNAME=your_mailtrap_username
MAIL_PASSWORD=your_mailtrap_password

FILE_STORAGE_PATH=./uploads
GOOGLE_MAP_API_KEY=your_google_maps_api_key
