<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.ump_student_grab">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.UMP_Student_Grab"
        tools:targetApi="31" >

        <!-- Authentication -->

        <activity
            android:name=".Auth.Registration"
            android:exported="false" />

        <activity
            android:name=".Auth.ForgotPassword"
            android:exported="false" />

        <!-- Customer View -->
        <activity
            android:name=".Controller.Customer.BookingDriver"
            android:exported="false" />

        <activity
            android:name=".Controller.Customer.CustomerProfile"
            android:exported="false" />

        <activity
            android:name=".Controller.Customer.EditProfile"
            android:exported="false" />

        <activity
            android:name=".Controller.Customer.BookingDetail"
            android:exported="false" />

        <activity
            android:name=".Controller.Customer.DriverDetail"
            android:exported="false" />

        <activity
            android:name=".Controller.Customer.ChangePassword"
            android:exported="false" />

        <!-- Driver View -->
        <activity
            android:name=".Controller.Driver.DriverProfile"
            android:exported="false" />

        <activity
            android:name=".Controller.Driver.EditDriver"
            android:exported="false" />

        <activity
            android:name=".Controller.Driver.ManagePassenger"
            android:exported="false" />

        <activity
            android:name=".Controller.Driver.PickupPassenger"
            android:exported="false" />

        <!-- Landing Page -->
        <activity
            android:name=".Controller.LandingPage.CustomerMain"
            android:exported="false" />

        <activity
            android:name=".Controller.LandingPage.DriverMain"
            android:exported="false" />

        <activity
            android:name=".Controller.LandingPage.AdminMain"
            android:exported="false" />

        <!-- First Page/Login -->
        <activity
            android:name=".Main"
            android:exported="true">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>